psutil==5.9.8
python_i18n==0.3.9
web3>=7.0.0,<8.0.0
humanize==4.15.0
termplotlib==0.3.9
cachetools==5.5.2
bidict==0.23.1
requests==2.32.5
uptime==3.0.1
discord.py==2.7.0
config==0.5.1
pytz==2022.7.1
matplotlib==3.10.8
inflect==7.5.0
colorama==0.4.6
seaborn==0.13.2
etherscan_labels @ git+https://github.com/InvisibleSymbol/etherscan-labels@7eb617d715a4dda0eabdd858106a526a3abd3394
cronitor==4.9.0
retry-async==0.1.4
dice==3.1.2
regex==2023.12.25
tiktoken==0.12.0
anthropic==0.84.0
pymongo==4.16.0
graphql_query==1.4.0
pillow==11.1.0
aiohttp==3.13.3
numpy==1.26.4
beautifulsoup4==4.14.3
eth-typing==5.2.1
hexbytes==1.3.1
eth-utils==5.3.1
tabulate==0.10.0
anyascii==0.3.3
