[discord]
token = ""

[api]
host = "0.0.0.0"
port = 8080

[api.defaults]
delete_message_max_age = 3600
lock_thread_max_age = 3600
delete_thread_max_age = 3600
timeout_member_max_duration = 86400
kick_member_max_age = 0
ban_member_max_age = 0
revision_window = 604800
max_actions_per_hour = 100

[[api.keys]]
secret = ""
allowed_server_ids = []
